@model HRM.A.Models.HRM_ACTIVITY_STAT

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HRM_ACTIVITY_STAT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivityCd" />
            <div class="form-group">
                <label asp-for="ActivityNm" class="control-label"></label>
                <input asp-for="ActivityNm" class="form-control" />
                <span asp-validation-for="ActivityNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortNm" class="control-label"></label>
                <input asp-for="ShortNm" class="form-control" />
                <span asp-validation-for="ShortNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IUsr" class="control-label"></label>
                <input asp-for="IUsr" class="form-control" />
                <span asp-validation-for="IUsr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDt" class="control-label"></label>
                <input asp-for="IDt" class="form-control" />
                <span asp-validation-for="IDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UUsr" class="control-label"></label>
                <input asp-for="UUsr" class="form-control" />
                <span asp-validation-for="UUsr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UDt" class="control-label"></label>
                <input asp-for="UDt" class="form-control" />
                <span asp-validation-for="UDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
